.landing{
  text-align: center;
  background-color: #21409A;
  color: white;
  font-family: sans-serif;
}
.center{
  margin-left:auto;
  margin-right:auto;
  padding: 10px;
}

.souptime{
  //background-color: white;
  color: #21409A;
  height: auto;
  width: 80%;
  font-family: sans-serif;
}

.jumbotron{
  text-align: left;
  background-color: #21409A;
  color: white;
  image: left;
}

.container{
  background-color: #21409A;
}
